# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Создадим "широкую таблицу" для изучения соотношения неплатильщиков к общему числу клиентов,
# имеющих определенное количество детей. Используем два столбца - children и debt.
data_pivot_children = data.pivot_table(index = 'children', values = 'debt', aggfunc = ['sum','count','mean'])
print(data_pivot_children)

           sum  count      mean
          debt   debt      debt
children
0         1063  14091  0.075438
1          444   4808  0.092346
2          194   2052  0.094542
3           27    330  0.081818
4            4     41  0.097561
5            0      9  0.000000

In [23]:
data_pivot_children['mean_percent'] = data_pivot_children['mean','debt']*100
#создадим новый столбец с процентами для наглядности
data_pivot_children

           sum  count      mean mean_percent
          debt   debt      debt
children
0         1063  14091  0.075438     7.543822
1          444   4808  0.092346     9.234609
2          194   2052  0.094542     9.454191
3           27    330  0.081818     8.181818
4            4     41  0.097561     9.756098
5            0      9  0.000000     0.000000

**Вывод:** 
Долговая нагрузка хуже переносится клиентами с детьми. Вероятно, им сложнее придерживаться регулярных платежей, потому что непредвиденные расходы возникают чаще. Также можно сделать вывод, что родителей пятерых детей слишком мало в выборке для анализа, на 9 человек неплатильщиков получилось 0. В целом доля неплатильщиков с детьми больше, чем бездетных.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Рассмотрим, какие есть семейные статусы и как они соотносятся со стобцом задолжностей

In [24]:
data_pivot_family = data.pivot_table(index = 'family_status', values = 'debt', aggfunc = ['sum','count','mean'])
data_pivot_family['mean_percent'] = data_pivot_family['mean','debt']*100

display(data_pivot_family)

                       sum  count      mean mean_percent
                      debt   debt      debt
family_status
Не женат / не замужем  273   2796  0.097639     9.763948
в разводе               84   1189  0.070648     7.064760
вдовец / вдова          63    951  0.066246     6.624606
гражданский брак       385   4134  0.093130     9.313014
женат / замужем        927  12261  0.075606     7.560558

Мне стало любопытно, как соотносятся семейные статусы и количество детей: тут проценты немного не сходятся со здравым смыслом: по 9+ процентов задолжностей у неженатых и в гражданском браке (в этой таблице), и по 8+, 9+ процентов у тех, у кого есть дети (в прошлой). 

Значит ли это, что большинство детей - из неофициальных или неполных семей или эти величины как-то по-другому соотносятся? Параллельно изучим задолжности более внимательно, это может поменять картину.

In [25]:
# Для проверки предположения применим длинную таблицу (groupby+agg):
data_grouped = data.groupby(['family_status', 'children']).agg({'children':'sum','debt':'mean'})
data_grouped['debt'] = data_grouped['debt']*100

data_grouped

                                children       debt
family_status         children
Не женат / не замужем 0                0   9.283820
                      1              449  11.581292
                      2              150  12.000000
                      3               24  12.500000
                      4                8  50.000000
в разводе             0                0   7.015306
                      1              312   6.730769
                      2              162   8.641975
                      3               33   9.090909
                      4                4   0.000000
вдовец / вдова        0                0   6.257379
                      1               77   9.090909
                      2               40  15.000000
                      3               18   0.000000
                      4                4   0.000000
гражданский брак      0                0   8.388278
                      1              995  11.859296
                      2              686   8.746356
                      3              168  14.285714
                      4               32   0.000000
                      5               10   0.000000
женат / замужем       0                0   6.909480
                      1             2975   8.268908
                      2             3066   9.458578
                      3              747   6.827309
                      4              116  10.344828
                      5               35   0.000000

Мы видим, что детей все-таки больше в браке, и в браке же финансовые риски меньше и меньше зависят от количества детей (от наличия - зависят сильно). 

В гражданском браке детей появляется много, и статистика здесь хуже. Даже если нет детей - риски большие. 

У разведенных и вдовых не так много детей, и, рассчитывая на себя (или алименты и себя), получается как-то справляться с долговой нагрузкой. Предположу, что ответственность ощущается больше. Хотя много детей тянуть и кредит сложно, вдовые с двумя детьми подтвердят.

И, наконец, у незамужних с детьми(по логике, это женщины) дела обстоят хуже остальных категорий. В категории четырех детей - 50 процентов невозврата! Бездетные свободные чаще всех других бездетных не справляются с долгами. Все-таки семья дисциплинирует, хотя может быть, в этой группе большинство еще сами почти дети, молодежь.

**Вывод:** 
Штамп все-таки на что-то влияет. Даже длительные отношения, но не закрепленные официально, показывают больший процент должников, сравнимый с "полностью холостыми" клиентами. Посередине находятся женатые/замужние. В то же время разведенные и вдовые демонстрируют еще большую финансовую ответственность, чем женатые. Вывод: влияние есть и достаточно существенное.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Сделаем сводную таблицу для столбцов 'total_income_category' и 'debt':

In [26]:
data_pivot_income = data.pivot_table(index = 'total_income_category', values = 'debt', aggfunc = ['sum','count','mean'])
data_pivot_income['mean_percent'] = data_pivot_income['mean','debt']*100

display(data_pivot_income)

                        sum  count      mean mean_percent
                       debt   debt      debt
total_income_category
A                         2     25  0.080000     8.000000
B                       354   5014  0.070602     7.060231
C                      1353  15921  0.084982     8.498210
D                        21    349  0.060172     6.017192
E                         2     22  0.090909     9.090909

**Вывод:** 
Здесь скорее можно судить о предпочтениях самих банков: по 20 с небольшим представителей крайних категорий с близкими процентами вряд ли можно считать достаточным для ведения статистики. Столь богатых людей не так много, а столь бедным не дают кредиты.

Что касается категории D, то тут люди стараются вернуть долг, и у них получается лучше остальных, но, опять же, кредиты им дают неохотно. Точнее проверить эту закономерность мешает недостаточность группы для анализа.

Категория  С самая многочисленная и процент невозврата относительно велик. Эти люди часто берут кредиты и не всегда распределяют верно свои финансы.

Категория B с хорошим процентом, люди обеспеченные и аккуратные.

В целом, я бы сказала, что этот критерий переоценивают банки и не дают нам достаточно материала для анализа, отказывая клиентам со скромным доходом. Поэтому посчитаем, что он не особо влияет на возврат долгов вовремя.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [27]:
data_pivot_purpose = data.pivot_table(index = 'purpose_category', values = 'debt', aggfunc = ['sum','count','mean'])
data_pivot_purpose['mean_percent'] = data_pivot_purpose['mean','debt']*100

display(data_pivot_purpose)

                          sum  count      mean mean_percent
                         debt   debt      debt
purpose_category
операции с автомобилем    400   4279  0.093480     9.347978
операции с недвижимостью  780  10751  0.072551     7.255139
получение образования     369   3988  0.092528     9.252758
проведение свадьбы        183   2313  0.079118     7.911803

**Вывод:** 

Влияние столбца прослеживается четко, выделяются две группы. Вероятно, более высокий процент задолжностей по кредитам на машину и на учебу связан с тем, что эти кредиты чаще берут молодые люди. 
Операции с недвижимостью - самые ответственные, кредиты на них самые большие, клиенты стараются не пропускать платежи, ставки слишком высоки.
Проведение свадьбы - тоже сравнительно благополучная категория, и просрочек не так много.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Пропущено было одинаковое количество значений в двух столбцах, 'days_employed', 'total_income'. Предположим, что они совпадают, иначе было бы разное количество пропусков. 

Ошибки бывают технологические и вызванные человеческим фактором. Здесь вероятнее технологический сбой, потому что людям бы без предоставления этих данных кредиты бы не выдали, либо возможен вариант с заемщиками, на момент заполнения анкеты оставшимися без работы. 

Вывод: скорее всего произошла потеря данных уже после выдачи кредитов вследствие технологического сбоя.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*
Медианное значение тем отличается от среднего арифметического, что его значение не колеблят редкие аномальные значения. Это не "средняя температура по больнице", а значит, она более информативна и ближе к реальности. 

Медиана - это значение, которое занимает место точно посередине списка значений, или среднее из двух соседних значений посередине, если список был с четным количеством позиций. 

Среднее арифметическое = сумма значений/количество значений.

### Шаг 4: общий вывод.

Наше исследование надежности заемщиков подходит к завершению. Исследование проводилось для кредитного отдела банка, который строит модель кредитного скоринга. Входными данными послужил датасет с информацией о заемщиках. В датасете был ряд недочетов, которые мы исправили в рамках предобработки данных доступными методами библиотеки Pandas: 
* отрицательные значения трудового стажа - заменили на положительные;
* пропущенные значения стажа и общего дохода - заменили на медиану по каждому типу заемщиков;
* исправили аномальные значения в графе с детьми; 
* привели к строчным буквам записи в графе "образование";
* создали новый столбец, необходимый для анализа, категоризовав доходы заемщиков - получилось 5 категорий;
* привели к единому виду всю разноголосицу в столбце с целями кредита с помощью функции.

Во второй части исследования мы построили ряд сводных таблиц, чтобы ответить на собственно исследовательские вопросы, которые были поставлены как цель исследования.
Влияют ли на возврат кредитов в срок (столбец debt) следующие факторы:
- количество детей;
- семейное положение;
- уровень дохода;
- цели кредита.

Мы видим, что наибольшие риски несут в себе категории:
- где семейный статус "гражданский брак" и "не женат/не замужем"
- где есть дети
- с целями "получение образования" и "операции с автомобилем".
Следовательно, где-то на пересечении этих категорий находятся люди, чаще остальных не отдающие вовремя долги. 

По доходам какая-то зависимость вероятно есть, но, чтобы ее проследить, недостаточно данных.

Соответственно, наиболее благонадежными являются клиенты с устоявшейся жизненной ситуацией, без хаотического фактора в виде детей и с глобальными целями в виде покупки жилья или создания семьи. 

Мы бы рекомендовали кредитному отделу банка уделять больше внимания выигрышным категориям заемщиков, быть осторожнее с проигрышными, и не бояться выдавать кредиты людям со скромным доходом, так как они стабильно отдают кредиты вовремя. Их мало в выборке, из чего можно сделать вывод, что тут действует какое-то предубеждение, мешающее банку зарабатывать деньги на огромном сегменте потенциальных клиентов. Это также позволит в дальнейшем уточнить данные и откалибровать систему скоринга.